.col > .card.h-100 > .card-img-top {
  aspect-ratio: 16/9;
  object-fit: cover;
}

.card-text, p {
  white-space: pre-wrap !important;
}

#preview {
  width: 320px;
  height: 180px;
  aspect-ratio: 16/9;
  background-position: center;
  object-fit: cover;
}

#preview[src="/images/thumbnail.png"] {
  display: none !important;
}